

h1{
	text-align: center;
	color:red;
}

div.contenedor{
	width: 30%;
	height: 20%;
	margin: auto;
	border: 3px solid lightcoral;
	padding: 15px;
	color:royalblue;
	text-align: center;
}

div.contenedor:hover{
	background-color: #457b9d;
	color:black;	
}

div.contenedor.oculto p{
	display: none;
}

div.contenedor.oculto:hover p{
	display: block;
	background-color: #a8dadc;
	color:#023e8a;
	padding: 15px;
}

div.contenedor.primero p:first-child{
	font-variant: small-caps;
}